DATABASE_URL="postgresql://real_ielts_prep_db_user:X9aTUAj2Vabnn5ceppQDmPHMUqZwx1oi@dpg-d93l1k4vikkc73agsk2g-a/real_ielts_prep_db"
JWT_SECRET="ielts-reading-super-secret-jwt-key-2024"
JWT_EXPIRES_IN="7d"
PORT=5000
FRONTEND_URL="http://localhost:3000"
